@model Highway.Configuration.Web.Models.HomeIndexViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Highway Settings Configuration Management Site</h2>
<p>
    Welcome to the Highway Configuration Management Site.
</p>

